In [25]:
import pandas as pd

In [39]:
path = "./Data/tn.movie_budgets.csv.gz"
data1 = pd.read_csv(path)

#get rid of the $ sign
data1['domestic_gross'] = data1['domestic_gross'].replace({'$':''})
data1['production_budget'] = data1['production_budget'].replace({'$':''})
data1['domestic_gross'] = data1['domestic_gross'].replace({',':''})
data1
#change the two columns from str to int 
#data1['domestic_gross'] = data1['domestic_gross'].astype(int)


#data1["Profit"] = data1["domestic_gross"] - data1["production_budget"] 
#data1 = data1.loc[data1['movie'] == 'Inception']
#data1

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [4]:
path = "./Data/tmdb.movies.csv.gz"
data2 = pd.read_csv(path)
data2
data2 = data2.loc[data2['original_title'] == 'Inception']
data2

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
4,4,"[28, 878, 12]",27205,en,Inception,27.92,2010-07-16,Inception,8.3,22186

In [5]:
#keep this one
path = "./Data/imdb.title.ratings.csv.gz"
data3 = pd.read_csv(path)
data3

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [6]:
#path = "./Data/imdb.title.principals.csv.gz"
#data4 = pd.read_csv(path)
#data4

In [7]:
#path = "./Data/imdb.title.crew.csv.gz"
#data5 = pd.read_csv(path)
#data5

In [8]:
path = "./Data/imdb.title.basics.csv.gz"
data6 = pd.read_csv(path)
data6.info()
#df = data6["genres"].value_counts()
#df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [9]:
#path = "./Data/imdb.title.akas.csv.gz"
#data7 = pd.read_csv(path)
#data7

In [10]:
#path = "./Data/imdb.name.basics.csv.gz"
#data8 = pd.read_csv(path)
#data8

In [11]:
#path = "./Data/bom.movie_gross.csv.gz"
#data9 = pd.read_csv(path)
#data9
#data9 = data9.loc[data9['title'] == 'Inception']
#data9

In [12]:
#path = "./Data/rt.movie_info.tsv.gz"
#data10 = pd.read_csv(path, error_bad_lines=False)
#data10.info()

In [13]:
#path = "./Data/rt.reviews.tsv.gz"
#data11 = pd.read_csv(path, error_bad_lines=False, encoding= 'unicode_escape')
#data11